mixin trendsListingItem(name, text, image, width, height)
	+b.A.trends-item(href="#")&attributes(attributes)
		+e.SPAN.img-wrap
			+e.IMG.img(src=image alt=name width=width height=height)
		+e.SPAN.main
			+e.SPAN.title= name
			+e.SPAN.text.text= text


mixin articleListingItem(name, image, width, height)
	+b.A.article-item(href="#")&attributes(attributes)
		+e.SPAN.img-wrap
			+e.IMG.img(src=image alt=name width=width height=height)
		+e.SPAN.main
			+e.SPAN.title= name
